aiohttp==3.8.4
bardapi==0.1.22
bidict==0.22.1
charset_normalizer==3.1.0
EdgeGPT==0.11.8
fastapi==0.98.0
httpx==0.24.1
imgkit==1.2.3
Markdown==3.3.7
poe==0.0.1
pydantic==1.10.9
Pygments==2.15.1
python_markdown_math==0.8
Requests==2.31.0
slack_sdk==3.21.3
uvicorn==0.22.0
